<header id="cabecera">
    <div class="logotipo-cabecera">
      <span class="logo">🎮</span>
      <h1>CyberQuest</h1>
    </div>
    <nav class="menu-principal">
      <a href="#cabecera">Inicio</a>
      <a href="#mas-informacion">Información</a>
      <a href="#footer">Contacto</a>
    </nav>
  </header>