<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("partials/main-menu") %>
    <main>
      <section id="seccion-principal">
        <h1>Sumérgete en un mundo de<br>aventuras épicas y conquista el<br>ciberespacio</h1>
        <button type="submit" class="descargar-ahora">DESCARGAR AHORA</button>
      </section>
      <section id="mas-informacion">
        <h1>Más información</h1>
        <div class="contenedor-tarjetas">
          <div class="tarjetas">
            <span class="logo">⚔️</span>
            <h2 class="titulo">Acción Intensa</h2>
            <p class="descripcion">Combates épicos en tiempo real con mecánicas innovadoras que te mantendrán al límite</p>
          </div>
          <div class="tarjetas">
            <span class="logo">🌍</span>
            <h2 class="titulo">Mundo Abierto</h2>
            <p class="descripcion">Explora vastos territorios llenos de secretos, misiones y desafíos sin límites</p>
          </div>
          <div class="tarjetas">
            <span class="logo">👥</span>
            <h2 class="titulo">Multijugador</h2>
            <p class="descripcion">Únete a millones de jugadores en una experiencia social única y competitiva</p>
          </div>
        </div>
      </section>
    </main>
    <%- include("partials/footer")  %> 
  </body>
</html>
