<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header id="cabecera">
      <div class="logotipo-cabecera">
        <span class="logo">🎮</span>
        <h1>CyberQuest</h1>
      </div>
      <nav class="menu-principal">
        <a href="">Inicio</a>
        <a href="">Información</a>
        <a href="">Contacto</a>
      </nav>
    </header>
  </body>
</html>
