header#cabecera {

    height: 17vh;
    color: white;
    background-color:rgba(33, 7, 58, 0.24);
    display: flex;
    flex-direction: column;
    align-items: center;

    div.logotipo-cabecera {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    
        span.logo {
            font-size: 2rem;
            padding: 12px;
            background: var(--main-details-background-color);
            border-radius: 17px;
        }
    
        h1 {
            font-size: 2.5rem;
            text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.705);
        }
    }

    nav.menu-principal {
        display: flex;
        gap: 70px;

        a {
            font-size: 1.1rem;
            color: white;
            text-decoration: none;
        }
    }

}

