header#cabecera {

    height: 18vh;
    color: white;
    background-color:rgba(0, 0, 0, 0.301);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;

    div.logotipo-cabecera {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    
        span.logo {
            font-size: 32px;
            padding: 12px;
            background: var(--main-details-background-color);
            border-radius: 17px;
        }
    
        h1 {
            font-size: 2.5rem;
            text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.705);
        }
    }

    nav.menu-principal {
        display: flex;
        gap: 60px;

        a {
            border-radius: 12px;
            padding: 12px 14px;
            font-size: 1.1rem;
            color: white;
            text-decoration: none;
            transition: transform 0.3s ease, background 0.3s ease;
        }
        
        a:hover {
            transform: translateY(-2px);
            background: var(--hover-menu);
        }
    }

}

