section#seccion-principal {
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
        font-size: 3rem;
        color: white;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.705);
    }
    
    button.descargar-ahora {
        font-weight: 600;
        color: white;
        border: 0px;
        background: var(--main-details-background-color);
        border-radius: 30px;
        font-size: 1.2rem;
        padding: 18px 30px;
        cursor: pointer;
        box-shadow: 5px 5px 20px #ee55ff96;
        transition: transform 0.3s ease, background 0.3s ease;
    }

    button.descargar-ahora:hover {
        transform: translateY(-3px);
    }
}

section#mas-informacion {
    height: 65vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.301);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        margin-bottom: 50px;
        font-size: 2.5rem;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.705);
    }

    div.contenedor-tarjetas {
        display: flex;
        justify-content: center;
        gap: 40px;

        div.tarjetas {
            border: 2px solid rgba(143, 129, 156, 0.719);
            border-radius: 15px;
            background-color: rgba(201, 168, 231, 0.158);
            min-width: 280px;
            max-width: 320px;
            height: 270px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: transform 0.3s ease, background 0.3s ease;

            span.logo {
                border-radius: 50px;
                padding: 15px;
                background: var(--main-background-color);
                font-size: 3rem;
            }

            h2.titulo {
                font-size: 1.8rem;
                color: var(--rosa-intenso);
            }

            p.descripcion {
                font-size: 1.1rem;
            }
        }

        div.tarjetas:hover{
            box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.705);
            transform: translateY(-15px);
        }
    }
}