div.contenedor-off-canvas{

    height: 100%;
    width: 500px;
    backdrop-filter: blur(5px);
    background-color:rgba(0, 0, 0, 0.623);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0px; /* Para pegarlo a la parte superior */   
    right: -500px;
    transition: 0.5s ease;

    div.cabecera-off-canvas {

        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            align-self: flex-start;
        }

        img.cerrar-menu{
            cursor: pointer;
        }
    }
    

    div.contenedor-tarjetas-off-canvas {

        display: flex;
        flex-direction: column;

        div.tarjetas-off-canvas {
            box-sizing: border-box;
            border: 2px solid transparent;
            display: flex;
            align-items: center;
            gap: 20px;
            width: 400px;
            background-color: rgb(80, 69, 88);
            border-radius: 20px;
            padding: 15px 20px;
            margin-bottom: 30px;
            transition: transform 0.3s ease, background 0.3s ease;

            h2 {
                font-weight: 400;
            }

            span.icono {
                font-size: 1.5rem;
                padding: 10px;
                border-radius: 10px;
                background: var(--main-details-background-color);
            }
        }

        div.tarjetas-off-canvas:hover {
            border: 2px solid var(--rosa-intenso);
            transform: translateX(-5px);
            background-color: rgb(103, 89, 112);
        }
    }
}

div.contenedor-off-canvas.visible{
    right: 0px;
}