@import "theme.css";
@import "header.css";
@import "main.css";
@import "footer.css";

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 18vh;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
  background: var(--main-background-color);
}