@import "theme.css";
@import "header.css";

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: var(--main-background-color);
}