@import "theme.css";
@import "header.css";
@import "main.css";
@import "footer.css";
@import "off-canvas.css";

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
  background: var(--main-background-color);
  overflow-x: hidden; /* Para que no se habilite el scroll horizontal si hay algo fuera de la pantalla*/
}